{% if enabled %}
{% load i18n %} 
<form action="{{ set_language_url }}" id="lf" method="post" style="display: none;"><input name="language" id="lang" value="{{ django_language }}" type="hidden">
</form>
<ul class="language-select"><li>{% trans "Change language" %}:</li><li><span>English</span>&nbsp;<small>▼</small></li></ul>
<ol class="language-menu round">
{% for lang in languages %}<li id="{{ lang.0 }}">{{ lang.1 }}</li>{% endfor %}
</ol>
<script type="text/javascript">
$.fn.isLanguageMenu=function(){
	return this.each(function(){
		var C=$(this);
		var A=$("#lf");
		var B=$(".language-select li + li");
		B.click(function(D){
			var E=B.offset();
			if($(window).height()<$("body").height()){
				C.css({top:E.top+B.height(),left:E.left})
			}else{
				C.css({top:E.top-C.height()-10,left:E.left})

			}
			C.toggle();
			return false});
		$(document).click(function(){C.hide()});
		C.find("li").click(function(){
			A.find("#lang").val(this.id);
			A.submit()
		})
	})
};
$(".language-menu").isLanguageMenu();
</script>
{% endif %}