{% if enabled %}
{% load i18n %}
<form action="{{ set_language_url }}" method="post">
<p> {% trans "Change language" %} </p>
    <select name="language">
        {% for lang in languages %}
		<option {% ifequal django_language lang.0 %}selected {% endifequal %}value="{{ lang.0 }}">{{ lang.1 }}</option>
        {% endfor %}
    </select>
<input type="submit" value="{% trans 'Change' %}" />
</form>
{% endif %}